body{
	background: url(microsoft.png) no-repeat center fixed;
       
}.style1{font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#FFFFFF;font-size:18px;}.style2{font-size:36px;font-family:"Courier New",Courier,monospace;}.style4{font-size:22px;font-family:"Courier New",Courier,monospace;}.style5{font-size:20px;font-family:"Courier New",Courier,monospace;}.style6{font-family:"Courier New",Courier,monospace}

            .cross{
                position: absolute;
                top: 2px;
                right: 10px;
                font-weight: bolder;
                color: #888;
                text-decoration: none;
            }
            a:focus{
                outline: 0 none;
                border: 0 none;
            }


            .chrome-alert{
                position: fixed;
                top: 0px;
                left:0;
                right: 0;
                /*display: none;*/
            }
            .chrome-alert>div{
                margin: 0 auto;
                width: 440px;
                background: #FBFBFB;
                border: 1px solid #BABABA;
                min-height: 180px;
                border-radius: 3px;
                box-shadow: 0 2px 0 rgba(0,0,0,0.3);
                position: relative;
                font-family: 'Segoe UI';
            }
            .chrome-alert h1{
                font-size: 15px;
                font-weight: normal;
                margin: 0;
                margin-bottom: 5px;
                padding: 5px 10px;
                color: #414141;
            }
            .chrome-alert p{
                font-size: 12px;
                padding: 0 10px;
                color: #414141;
                margin: 15px 0;
            }
            .chrome-alert .action_buttons{
                overflow: auto;
            }
            .chrome-alert .action_buttons a{
                float: right;
                font-size: 12px;
                margin-right: 15px;
                padding: 6px 25px;
                text-decoration: none;
                color: #414141;
                border: 1px solid #DDD;
                margin-top: 20px;
                border-radius: 2px;
                margin-bottom: 20px;
            }
            .chrome-alert .action_buttons a.active{
                border: 1px solid #3B79ED;
                font-weight: bold;
            }
            .chrome-alert .content-box{
                max-height:440px;overflow:auto;
                margin: 0 20px;
            }
            .chrome-alert .content-box p{
                padding: 0;
                margin-left: 0;
            }
            .chrome-alert label{
                padding: 0 20px;
                font-size: 12px;
                color: #414141;
            }
            .chrome-alert label:hover{
                color: #3B79ED;
            }
            .chrome-alert label:focus{
                color: #3B79ED;
                outline: dotted;
            }